.navbar {
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 2;
  top: -50px;
  transition: top 0.5s ease-in-out;
}

.powered-by {
  color: white;
  font-family: 'Nunito', sans-serif;
  animation: fade-in-2 1.5s 1.5s forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  bottom: 80px;
}

.spotify-logo {
  color: white;
  margin: auto;
  font-family: 'Nunito', sans-serif;
  animation: fade-in-2 1.5s 1.5s forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  background-image: url("../../Images/spotify.png");
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  position: relative;
  bottom: 80px;
}

.header-text-3 {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  animation: fade-in-2 1.5s forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.concert-image {
padding-top: 200px;
background-size: contain;
background-repeat: no-repeat;
width: 100vw;
height: 600px;
background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../../Images/concert.jpg");
background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../../Images/concert.jpg");
background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../../Images/concert.jpg");
background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../../Images/concert.jpg");
background-image:  linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../../Images/concert.jpg");
display: flex;
justify-content: flex-start;
align-items: center;
flex-flow: column;
animation: fade-in 1.5s forwards;
opacity: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 600px;
}

/* KEYFRAMES */

@keyframes fade-in-2 {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-in-3 {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/*MEDIA QUERIES*/

@media (min-width: 1200px) {
  .concert-image {
    width: 1200px;
    margin: auto;
}
}

@import url('https://fonts.googleapis.com/css?family=Nunito');
